[Unit]
Description=Collect CO2 data
After=syslog.target

[Service]
ExecStart=/home/stgardner4/raspi-co2-monitor/.venv/bin/python3 /home/stgardner4/raspi-co2-monitor/co2_collect.py
Restart=always
RestartSec=1
RuntimeMaxSec=600
WorkingDirectory=/home/stgardner4/raspi-co2-monitor
User=stgardner4
SyslogIdentifier=co2_collect

[Install]
WantedBy=multi-user.target
